body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#162131;
    color: rgb(52, 165, 52);
}
h1{
    font-family: sans-serif;
    color: #ffffff;
}